* {
    padding: 0;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: aqua;
    height: 80px;
}

.nav-bar a {
    margin-right: 10px;
    padding: 25px;
    color: rgb(136, 125, 125);
}

.my-name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 650px;
    background-color: rgba(238, 234, 238, 0.822);
    margin-top: 2px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.name {
    margin: auto;
}

.photo img {
    width: 400px;
    border-radius: 10px;
}

.projects-section {
    background-color: tomato;
    padding-top: 50px;
    padding-bottom: 50px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 50px 0 50px;
}
 
.projects div {
    max-width: 400px;
    height: auto;
    align-items: center;
    text-align: center;
    padding: 20px 10px 20px 10px;
}

.projects> div> img {
    width: 100%;
    height: 380px;
}

.Aboutme {
    background-color: rgb(247, 166, 166);
    padding: 50px;
    display: flex; 
    flex-wrap: wrap;
}

.Aboutme div {
    max-width: 600px;
    border-style: solid;
    margin: 5px;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
}

.Contact {
    background-color: wheat;
    display: flex;
    padding: 80px;
    justify-content: center;
} 

.Contact div {
    margin: 10px;
    padding: 10px;
}

.social {
    padding-top: 50px;
}

.social a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 10px;
}
