* {
    padding: 0;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: aqua;
    height: 80px;
    margin-top: -2px;
}

.nav-bar a {
    margin-right: 10px;
    padding: 25px;
    color: rgb(136, 125, 125);
}

@media screen and (max-width: 700px) {
    .nav-bar {
        justify-content: center;
    }
}

.my-name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 650px;
    background-color: rgba(211, 210, 195, 0.822);
    margin-top: 2px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.name {
    margin: auto;
}

.photo img {
    width: 400px;
    border-radius: 10px;
}

.projects-section {
    background-color: rgb(82, 74, 74);
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.projects {
    display: grid;
    padding: 0 50px 0 50px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}
 
.projects div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    height: auto;
    align-items: center;
    text-align: center;
    padding: 20px 10px 20px 10px;
    border-style: solid;
    border-color: rgb(105, 103, 103);
    border-width: 1px;
    border-radius: 10px;
    margin: auto;
}

@media screen and (max-width: 650px) {
    .projects div {
        width: 100%;
    }
}

.projects a {
    color: rgb(243, 235, 235);
}

.projects img {
    width: 100%;
    height: 380px;
}

.projects .language {
    border-style: none;
    text-align: justify;
    align-items: flex-start;
    border-top-style: solid;
    border-top-color: white;
    border-radius: 0;
    padding-top: 0;
}

.sub-header {
    padding: 50px;
}

.Aboutme {
    background-color: rgb(90, 94, 91);
    padding: 50px;
    display: flex; 
    flex-wrap: wrap;
    padding-top: 100px;
    color: rgb(196, 196, 196);
}

.Aboutme div {
    max-width: 600px;
    border-style: solid;
    border-color: rgb(110, 103, 103);
    margin: 5px;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.Contact {
    background-color: rgb(92, 90, 86);
    display: flex;
    flex-direction: column;
    padding: 80px;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    color: rgb(212, 209, 209);
} 

.Contact div {
    margin: auto;
    padding: 10px;
}

.social {
    padding-top: 50px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 80%;
}

.social a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5px;
    padding: 10px;
    color: black;
}

.footer {
    text-align: center;
    height: 100px;
    margin: auto;
    padding-top: 40px;
    background-color: gainsboro;
}

.message {
    border-style: solid;
    border-color: rgb(110, 102, 102);
    border-width: 1px;
    border-radius: 10px;
    text-align: justify;
    max-width: 400px;
    background-color: rgb(97, 96, 89);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

label {
    margin-top: 10px;
}

.form {
    border-radius: 5px;
    width: 100%;
    padding: 8px;
}

.button {
    width: 50%;
    padding: 5px;
    background-color: rgb(60, 77, 44);
    color: rgb(207, 204, 204);
}
